<!doctype html>
<html>
    <head>
        <title>Wikify, a Wikipedia browser</title>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/css/bootstrap.css"/>
        <style>
            #loader{
                display: none;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Wikify</a>
                    
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search term" id="searchTerm">
                        </div>
                        <button type="submit" class="btn btn-default" id="submitButton">Search</button>
                    </form>
                </div>
            </nav>
            <div id="loader" class="alert">Please wait, loading article...</div>
            <div class="page" id="page">
            </div><!--/page-->
        </div><!--/container-->
        
        <script type="text-x-handlebars-template" id="home-template">
           <div class="jumbotron">
            <h1>Hello!</h1>
            <p>Enter a search term on the box above, click search and please wait.</p>
           </div>
        </script>
        <script type="text/x-handlebars-template" id="article-template">
            <h1>Título</h1>
            {{{content}}}
        </script>
        
        
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js"></script>
        <script src="public/javascripts/annyang.min.js"></script>
    
        <script>
            $.ajaxPrefilter(function(options, originalOptions, jqXHR){
                options.url = 'http://morning-dusk-7497.herokuapp.com' + options.url;
            });
        
            //Models
            var Article = Backbone.Model.extend({
                urlRoot: '/wiki',
                url: function () {return this.urlRoot + "/" + encodeURIComponent(this.get("term"))}
            });
            //Views
            var HomeView = Backbone.View.extend({
               el: '.page',
                render: function(){
                    var template = Handlebars.compile($('#home-template').html());
                    this.$el.html(template);
                }
            });
            var ArticleView = Backbone.View.extend({
                el: '.page',
                render: function(options){
                    $('#loader').css('display','block');
                    var that = this;
                    var article = new Article({term:options.name});
                    article.fetch({
                        success: function(serverResponse){
                            var data= {content:serverResponse.attributes.content};
                            var source = $('#article-template').html();
                            var template = Handlebars.compile(source);
                            var html = template(data);
                            $('#loader').css('display','none');
                            $('a').click(function(e){
                return false;
            });
                            that.$el.html(html);
                        }
                    });
                }
            });
            //Router
            var Router = Backbone.Router.extend({
                routes: {
                    '':'home',
                    'wiki/:name':'getArticle'
                }
            });
            var router = new Router();
            
            var articleView = new ArticleView();
            var homeView = new HomeView();
            router.on('route:home', function(){
                homeView.render();
            });
            
            router.on('route:getArticle', function(name){
                articleView.render({name:name});
            });
            Backbone.history.start();
            
            $('#submitButton').click(function(e){
                e.preventDefault();
                var searchTerm = $('#searchTerm').val();
                router.navigate('#wiki/'+searchTerm,{trigger: true});
            });
            
            
            //Annyang
            if(annyang){
                var commands = {
                    'search *term': function(term){
                        router.navigate('#wiki/'+term, {trigger:true});
                    },
                    'testing': function(){
                        console.log('testing');
                    }
                }
                annyang.debug();
                annyang.init(commands);
                annyang.start({autoRestart:false});
            }
            
        </script>
        
    </body>
</html>