<!doctype html>
<html>
    <head>
        <title>Wikify. Navegue na Wikipedia usando sua voz</title>
        <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.0/readable/bootstrap.min.css" rel="stylesheet">
        <link href="public/stylesheets/style.css" rel="stylesheet">
        <style>
            #loader{
                display: none;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Wikify</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><iframe src="http://ghbtns.com/github-btn.html?user=jorgeguberte&repo=wikify&type=fork"
  allowtransparency="true" frameborder="0" scrolling="0" width="53" height="30"></iframe></li>
                </ul>

            </nav>
            <div id="loader" class="alert">Please wait, loading article...</div>
            <div class="page" id="page">
            </div><!--/page-->
        </div><!--/container-->
        
        <script type="text-x-handlebars-template" id="home-template">
           <div class="jumbotron">
            <h1>Explore a Wikipedia usando sua voz</h1>
            <p>Autorize o uso do microfone, e então diga <em>Buscar</em>, seguido do termo a ser buscado.</p>
            <p>Para rolar a página, diga <em>Desce</em> ou <em>Sobe</em></p>
           </div>

           <div  class="row">
            <div class="col-lg-10">
            <p class="lead">Stack</p>
            <ul class="list-unstyled list-inline">
                <li><span class="glyphicon glyphicon-ok"></span> <a href="http://nodejs.org/" target="_blank">Node.js</a></li>
                <li><span class="glyphicon glyphicon-ok"></span> <a href="http://expressjs.com" target="_blank">Express</a></li>
                <li><span class="glyphicon glyphicon-ok"></span> <a href="http://backbonejs.org/" target="_blank">Backbone.js</a></li>
                 <li><span class="glyphicon glyphicon-ok"></span> <a href="http://jquery.org/" target="_blank">jQuery</a></li>
                <li><span class="glyphicon glyphicon-ok"></span> <a href="https://npmjs.org/package/wikijs" target="_blank">Wikijs</a></li>
                <li><span class="glyphicon glyphicon-ok"></span> <a href="https://www.talater.com/annyang/" target="_blank">Annyang</a></li>

                <li><span class="glyphicon glyphicon-ok"></span> <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> | <a href="http://bootswatch.com/readable/" target="_blank">Tema do Bootswatch</a></li>
                
            </ul>

            </div>
            
            
            
           </div>
        </script>
        <script type="text/x-handlebars-template" id="article-template">
            <h1>{{title}}</h1>
            {{{content}}}
        </script>
        
        
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js"></script>
        <script src="public/javascripts/scrollTo.js"></script>
        <script src="public/javascripts/annyang.min.js"></script>
    
        <script>
            $.ajaxPrefilter(function(options, originalOptions, jqXHR){
                //options.url = 'http://morning-dusk-7497.herokuapp.com' + options.url;
                options.url = 'http://localhost:3000'+options.url;
            });
            
            
            //Models
            var Article = Backbone.Model.extend({
                urlRoot: '/wiki',
                url: function () {return this.urlRoot + "/" + encodeURIComponent(this.get("term"))}
            });
            //Views
            var HomeView = Backbone.View.extend({
               el: '.page',
                render: function(){
                    var template = Handlebars.compile($('#home-template').html());
                    this.$el.html(template);
                }
            });
            var ArticleView = Backbone.View.extend({
                el: '.page',
                render: function(options){
                    $('#loader').css('display','block');
                    var that = this;
                    var article = new Article({term:options.name});
                    article.fetch({
                        success: function(serverResponse){
                            var data= {content:serverResponse.attributes.html, title:options.name};
                            var source = $('#article-template').html();
                            var template = Handlebars.compile(source);
                            var html = template(data);
                            $('#loader').css('display','none');
                            that.$el.html(html);
                            
                            $('.page a').each(function(){
                                var href = '#'+$(this).attr('href');
                                $(this).attr('href', href);
                            });
                        }
                    });
                }
            });
            //Router
            var Router = Backbone.Router.extend({
                routes: {
                    '':'home',
                    'wiki/:name':'getArticle'
                }
            });
            var router = new Router();
            
            var articleView = new ArticleView();
            var homeView = new HomeView();
            router.on('route:home', function(){
                homeView.render();
            });
            
            router.on('route:getArticle', function(name){
                articleView.render({name:name});
            });
            Backbone.history.start();
            
            $('#submitButton').click(function(e){
                e.preventDefault();
                var searchTerm = $('#searchTerm').val();
                router.navigate('#wiki/'+searchTerm,{trigger: true});
            });
            
            
            //Annyang
            if(annyang){
                annyang.setLanguage('pt-BR');
                var commands = {
                    'buscar *term': function(term){
                        console.log('Got stuff for '+term);
                        router.navigate('#wiki/'+term, {trigger:true});
                    },
                    'desce': function(){
                        var scrolled = $(document).scrollTop();
                        console.log(scrolled);
                        $('html').scrollTo(scrolled+300);
                        scrolled += 300;
                    },
                    'sobe': function(){
                        var scrolled = $(document).scrollTop();
                        $('html').scrollTo(scrolled-300);
                        scrolled -= 300;
                    }
                };

                annyang.addCommands(commands);
                annyang.start();

            }
            
        </script>
        
    </body>
</html>